html {
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@media (max-width: 768px) {
  html {
    font-size: 15px;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 14px;
  }
}

:root {
  --section-padding: calc(var(--mui-spacing) * 2);
  /*--card-shadows: 2px 4px 12px #00000014; Apple */
  /*--card-shadows: var(--mui-shadows-1);*/
  --card-shadows: none;
}

b {
  font-weight: 500;
}

a {
  text-decoration: none;
  color: inherit;
}

@property --angle {
  syntax: '<angle>';
  initial-value: 130deg;
  inherits: true;
}

@keyframes rotate {
  to {
    --angle: 2200deg;
  }
}

@keyframes wave {
  0% {
    background-position: 100% 0;
  }
  25% {
    background-position: 0% 0;
  }
  100% {
    background-position: 0% 0;
  }
}

@keyframes saveCardAnimation {
  0% {
    opacity: 0;
    color: transparent;
    transform: translate(50px, -50px);
    filter: blur(4px);
  }

  15% {
    opacity: 1;
    color: black;
    transform: translate(0);
    filter: blur(0);
  }

  100% {
    opacity: 1;
    color: black;
    transform: translate(0);
    filter: blur(0);
  }
}

@keyframes paragraph {
  0% {
    opacity: 0;
    transform: translateY(50px);
    filter: blur(4px);
  }
  20% {
    opacity: 1;
    transform: translate(0);
    filter: blur(0);
  }
  100% {
    opacity: 1;
    transform: translate(0);
    filter: blur(0);
  }
}
